@import "variables";
@import "mixin";

.chat {
    &:not(:first-child) .times {
        display: none;
    }

    button {
        min-width: 100%;
        border: solid 1px $service-main-color;
        background-color: $page-bg-color;
        padding: 4px 7.25px;
        border-radius: 5px;
        word-break: keep-all;
        cursor: pointer;
    }

    .times {
        text-align: center;
        margin: 18px 0;
        color: #777;
        font-size: 11px;
    }

    .bubble {
        display: flex;
        align-items: flex-end;
    
        &.user {
            flex-direction: row-reverse;
    
            .content {
                background-color: $service-main-color;
                color: white;
    
                .name {
                    display: none;
                }
            }
        }
    
        &.bot {
            .content {
                background-color: #F7F7F7;
            }
        }
    
        &:not(:last-child) .timestamp {
            display: none;
        }
    
        .content {
            padding: 8px 12px;
            min-width: 20%;
            max-width: 68%;
            border-radius: 8px;
            white-space: pre-line;
    
            .name {
                color: orange;
                margin-bottom: 10px;
            }

            .options {
                display: flex;
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                overflow-x: auto;

                &.TEXT {
                    display: none !important;
                }

                &.MIXIN li {
                    &:only-child {
                        width: 100%;
                    }

                    width: 50%;
                }
                
                &.LIST {
                    ::-webkit-scrollbar {
                        display: none;
                        height: 0;
                    }

                    li {
                        min-width: 25%;
                    }
                }

                li {
                    margin: 8px 0 12px 0;

                    &:not(:last-child) {
                        margin-right: 11px;
                    }
                }
            }
        }
    
        .timestamp {
            font-size: 10px;
            margin: 0 5px;
        }
    }

        .cardList {
            overflow: hidden;
            width: calc(100vw - 42px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 18px;
            list-style: none;
            margin: 18px 0 0 0;
            padding: 10px 0 0 0;
            overflow-x: scroll;
            max-width: 768px;

            li {
                border-radius: 8px;
                background-color: rgba(47, 128, 237, 0.1);
                min-width: 180px;
                box-sizing: border-box;
                word-break: keep-all;

                .card {
                    position: relative;
                    padding: 20px 12px;
                    text-align: center;

                    .label {
                        position: absolute;
                        top: -8px;
                        left: 12px;
                        background-color: rgba(250,103,103,1);
                        color: white;
                        border-radius: 500px;
                        padding: 2px 7px;
                        font-size: 12px;
                    }

                    .title {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }

                    .location {
                        font-size: 16px;
                    }

                    .price {
                        margin: 15px 0 5px 0;

                        span {
                            color: $service-main-color;
                        }
                    }

                    button {
                        color: $service-main-color;
                    }
                }
            }
        }
}