@import "variables";
@import "mixin";

.chat {
    &:not(:first-child) .times {
        display: none;
    }

    .times {
        text-align: center;
        margin: 18px 0;
        color: #777;
        font-size: 11px;
    }

    .bubble {
        display: flex;
        align-items: flex-end;
    
        &.user {
            flex-direction: row-reverse;
    
            .content {
                background-color: $service-main-color;
                color: white;
    
                .name {
                    display: none;
                }
            }
        }
    
        &.bot {
            .content {
                background-color: #F7F7F7;
            }
        }
    
        &:not(:last-child) .timestamp {
            display: none;
        }
    
        .content {
            padding: 8px 12px;
            min-width: 20%;
            max-width: 68%;
            border-radius: 8px;
    
            .name {
                color: orange;
                margin-bottom: 10px;
            }

            .options {
                display: flex;
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                overflow-x: auto;

                &.TEXT {
                    display: none !important;
                }

                &.MIXIN li {
                    width: 50%;
                }
                
                &.LIST {
                    ::-webkit-scrollbar {
                        display: none;
                        height: 0;
                    }

                    li {
                        min-width: 25%;
                    }
                }

                li {
                    margin: 8px 0 12px 0;

                    &:not(:last-child) {
                        margin-right: 11px;
                    }

                    button {
                        min-width: 100%;
                        border: solid 1px $service-main-color;
                        background-color: #fff;
                        padding: 4px 7.25px;
                        border-radius: 5px;
                        word-break: keep-all;
                        cursor: pointer;
                    }
                }
            }
        }
    
        .timestamp {
            font-size: 10px;
            margin: 0 5px;
        }
    }
}