@import "variables";
@import "mixin";

.userInfo {
    display: grid;
    height: 49px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 25px);
    padding: 15px;
    border-bottom: 1px solid $service-line-color;
    grid-column-gap: 13px;
    line-height: 100%;
    align-items: center;
    background-color: $page-bg-color;

    .imgWrap {
        grid-row: 1 / 3;
        height: 100%;

        img {
            height: 100%;
            border-radius: 50%;
        }
    }

    .nameWrap {
        .name {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .summaryWrap {
        .summary {
            margin: 0;
            font-size: 12px;
            color: $service-second-color;
        }
    }
}