@import "variables";
@import "mixin";

.chatLog {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 14px;

    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 21px $chat-form-height + 14px 21px;
}