$mobile: 768px;
$iphone: 375px;

$page-text-color: #1B1A57;
$page-bg-color: #fff;

$page-max-width: 768px;

$service-main-color: #2F80ED;
$service-line-color: #EDEDED;
$service-second-color: #4F5E7B;

$chat-form-height: 71px;
$chat-info-height: 80px;
$chat-summary-height: 51px