@import 'variables';
@import 'mixin';

.form {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 9px 21px;
    width: 100vw;
    border-top: solid 1px #F0F0F0;
    height: $chat-form-height;
    background-color: $page-bg-color;

    .debug {
        display: flex;
        // display: none;
        align-items: center;
    }

    .none {
        display: none;
    }

    .ChatForm {
        display: grid;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 5px;
        grid-template-columns: 1fr;
        border-radius: 500px;
        background-color: #EFEFEF;
        max-width: $page-max-width;

        .textInput {
            padding: 10px;
            width: 100%;
            appearance: none;
            border: solid 1px transparent;
            color: inherit;
            background: transparent;
            outline: none;
        }
    }
}